body{
    margin: 0px;
    padding: 0%;
}
.lostof{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Orbitron', sans-serif;
    background-color: black;
}
.Name {
   text-align: center;
   color: rgb(45, 191, 240);
   padding-bottom: 5px;
   padding-top: 10px;
}
.name {
   text-align: center;
   color: rgb(231, 245, 250);
   padding-bottom: 15px;
  
}