body{
  margin: 0%;
  padding: 0%; 
}
.Home-Top{
    width: 80%;
    margin-left: 9%;
}
.top-speech{
    color: rgb(250, 252, 254);
    margin-top: 2%;
}
.cerousel{
    width: 70%;
    height: 500px;
    margin-left: 15% ;
    margin-top: 5%;
    margin-bottom: 2%;
}
.Services{
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
}
.marginul{
   padding-left:20%;
   padding: 1rem;
}
.audit{
    color: rgb(253, 254, 255);
    max-width: 70%;
    margin-left: 15%;
    margin-bottom: 2%;
    
}
.rowname{
    color: rgb(255, 255, 255);
}
.first-p{
    color: rgb(255, 255, 255);
    text-align: justify;
}